#macro-list {
  max-height: 70vh;
  overflow: auto;
  margin-top: 0.5em;
}

#macro-list .macro-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

#macro-list .macro-item > * + * {
  margin-left: 0.5em;
}

.macro-controls {
  display: flex;
  align-items: center;
  margin-top: 1em;
  gap: 0.5em;
}

#macro-editor-fields {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 0.5em;
}

#macro-steps {
  margin-top: 1em;
}

.macro-step {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.macro-step textarea {
  flex: 1;
}

.macro-editor-controls {
  display: flex;
  gap: 0.5em;
  margin-top: 1em;
}
